
:root{

--colornav: rgb(56, 59, 64);
--colorenlace:rgb(255, 255, 255);
--colorcomprar: rgb(0, 255, 0);
--colorotroenlace: rgb(170, 174, 181);
--colortresenlaces: rgb(113, 115, 120);
--colorbtn:rgb(136, 204, 0) ;
--colorfooter: rgb(0, 51, 77);
--colordegradado:rgb(0, 85, 128);
}

*{
    Margin: 0;
    Padding: 0;
    box-sizing: border-box; 
    
  }
  
  

  
  html{
    font-size: 12px;
    font-family : 'Montserrat', sans-serif;      
    
  }
.nav-primera{
background-color: var(--colornav);

}  
.nav-primera ul li a{
padding: 10px 10px;

    }  



a.navbar-brand{
margin:0px 5px 0px 0px;
padding:2px;
}

.nav-primera a{
color:var(--colorenlace);
text-align: center;
font-size: 14px;
}

.nav-primera .green{
    color: var(--colorcomprar);
    
}
@media screen and (max-width:700px){

    nav{
      flex-direction: column;
    }
  }

  img{
   filter: brightness(0.7);

  }
  .imagen p{
color: var(--colorenlace);
margin-right: 110px;
text-align:right;
font-family:'Montserrat', sans-serif ;
font-size: 11px;

  }
  .imagen h3{
    color:var(--colorenlace);
    text-align: right;
    margin-right: 115px;
    
  }
  .imagen {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .imagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .imagen div {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translate(0, -50%);
    text-align: right;
    
  }
  
  
  @media only screen and (max-width: 768px) {
    .imagen div {
      position: static;
      transform: none;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      
    }
    .imagen p{
      text-align:center;
      line-height: 1;
      margin-right: 50px;
      
      }
.imagen h3{
  text-align: center;
}
  }
  

  .btn-secondary{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 4.5px 9px;
  margin-right: 2px;
  margin-top:20px;
  
  }

  .btn-secondary:hover{
    background-color: transparent;

  }
.btn-custon{
   background-color: var(--colorcomprar); 
   color: var(--colorenlace);
  margin-right: 110px;
  margin-top: 20px;
  
 
}

.container {
  display: flex;
  flex-wrap: wrap;
}


.titulo p{
text-align: center;
margin-top:7px;
margin-bottom: 5px;
}
.titulo p+h3{

  text-align: center;
margin-top:1px;
}
.btn-info {
background-color: gray;
color: var(--colorenlace);
margin-top: 1px;
border-style: none;
}

.custom-button{
 width: 25%;

}
.card{
margin-top: 30px;
}

.card-img-top{
margin-top: -30px;

}

.image-container {
  border: 1px solid white;}

.informe p{
  text-align: center;
 margin-bottom: 2px;
  }
  h3{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 2px;
  }
 span{
    text-decoration: underline dotted;
  }
  #inputNombre {
    width: 75%;
   
  
  }

  #inputApellido {
    width: 75%;
  
  }
  textarea{
height: 70px;

  }
  
 .mensaje p{

text-align: left;
margin-left: 325px;
margin-top: 5px;
font-size: 10px;
color: gray;
  }
  @media screen and (max-width:700px){

    .mensaje p{
  text-align: center;
  margin-left: 0;
    
    }
  }

    
 .btn-success{

  background-color: var(--colorbtn);
  margin-top: 10px;
  margin-bottom: 20px;
 }


 @media screen and (max-width:700px){

  form{
    flex-direction: row;
  
  }
}
 
footer{
  background: linear-gradient(to right, var(--colorfooter), var(--colordegradado));
 margin-top: 0;
 padding-top: 0;
  min-height: 80px;
  
}
.footer-link {
  display: inline-block;
 /* text-align: center;
  margin-bottom: 10px;
  word-wrap: break-word;*/
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  a{
  text-decoration: none;
  color:var(--colorenlace);
}
@media screen and (min-width: 768px) {
.col {

    text-align: center;
flex-direction:row;
  }
}